{% extends 'base.html' %}

{% block content %}

<h1>UZŅĒMUMS HESBURGER</h1>
<p>Iespējams, ka Tev ir zināmi mūsu garšīgie burgeri,
     bet vai Tu zini vairāk par mums? Vai vari uzminēt Hesburger veiksmes noslēpumu?
    <br> Vai zini, kā tiek izgatavoti mūsu biosabrūkošie salātu trauciņi?
    Vai zini, ko mēs darām Bangladešā? Uzzini vairāk!</br> </p>

    <img class='g' src="/static/pictures/r2d9-burger-Hesburger-2021-09-218.jpg" alt="Ēdiens">
    <img class='g' src="/static/pictures/burger_1.jpg" alt="Burgeris">
    <img class='g' src="/static/pictures/ravintolakuva.jpg" alt="Restorans">
    <img class='g' src="/static/pictures/ravintolakuva (1).jpg" alt="Restorans_2">

{% endblock %}