  <div class="navbar">
    <a href="/">Home</a>
    <a href="about">About</a>
    <div class="dropdown">
      <button class="dropbtn">Burgeri</button>
      <div class="dropdown-content">
        <a href="hesburgers">Hesburgers</a>
        <a href="megaburgers">Megaburgers</a>
        <a href="kebab_burgers">Kebab Burgers</a>
        <a href="hamburgers">Hamburgers</a>
        <a href="siera_burgers">Siera Burgers</a>
        <a href="/dsiera_burgers">Dubultais Siera Burgers</a>
      </div>
    </div>
    <a href="registracija">Reģistrējies</a>
  </div>